
.left{
    display: inline;
    font-size: 30pt;
    font-family: serif;
}
.navigation{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 250px;
    padding-top: 20px;
    padding-right: 200px;
    height:70px;
}
.nav-item a{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bolder;
}
li{
    list-style: none;
}
.body img{
    height:700px;
    object-fit: cover;
}
.btn-warning{
    font-weight: bolder;
}
.logo{
    display: inline;
}
.head{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bolder;
}
.search{
    height:40px;
    background-color: transparent;
    border-radius: 5%;
}
::placeholder{
    color: black;
}
.nav-pills{
    padding-top:25px;
    justify-content: right;
}
.background{
    position:relative;
    bottom:185px;
    z-index: -1;
    height:100vh;
    width: 100%;
    min-width: calc(100% + 1px);
   
}
.first{
    z-index: 100;
}
.lead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.feature-icon>img{
    height:245px;
    gap:20px;
}
body{
    margin: 0px;
}
.news{
    display: grid;
    grid-template-rows: 0.75fr 0.75fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 15px;
    
}
 .one{
    grid-area: 1/1/2/3;
}
.six{
    grid-area: 2/3/3/5;
}
.display-5{
    text-align: center;
}
.news_text{
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}
.news_topic{
    padding-top: 20px;
    padding-left: 20px;
    color:darkblue;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;;
    font-size: 14pt;
    text-align: left;
}
.news_content{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.news_img{
    min-width: calc(50% + 1px);
    min-height: calc(50% + 1px);
    height:5.5em;
}
.news_img_sp{
    height:20em;
    width: 100%;
}
.new{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    padding-left: 40px;
    padding-right: 40px;
}
.footer{
    margin: 0px;
    height:400px;
}
.footer_heading{
    color:darkblue;
}
.info{
    background-color: darkblue;
}
.info h4{
    color: white;
}
.bi{
    fill:white;
    padding-right: 4px;
}
.bottom{
    color: white;
    display: flex;
    justify-content: center;
}
.feature{
    margin-right: 0px;
}
.feature_img{
    height:6em;
    width:100%;
}
.search{
    width:20%;
}
@media(min-width: 1201px){
    .drop{
        display: none;
    }
    .bar{
        display: none;
    }
}

@media(max-width:1200px)and(min-width:971px){
    .two{
        height: 319px;
    }
}

@media(max-width: 1200px){
    .container-fluid{
        background-color: #f4f4f4;
    }
    .first>.container{
        display: none;
    }
    .background{
        bottom: 0;
        width:100vw;
        height:100vh;
    }
    .logo{
        height:5em;
        padding-left: 10px;
        padding-top: 10px;
    }
    .left{
        font-size: 1.25em;
        padding-top: 10px;
    }
    .search{
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 1em;
    }
    .dropdown>.btn{
        background-color: darkblue;
        color: white;
        font-size: 1em;
        border: none;
        cursor: pointer;
        padding-top: 20px;
      }
     .drop{
        display: flex;
        justify-content: right;
        background-color: darkblue;
        width:100vw;
     } 
      .dropdown {
        position: relative;
        float: right;
        padding-right: 40px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown>.btn:focus + .dropdown-content {
          display:block;
      }
    .navbar{
        padding:0;
    }
      
    .first .navi{
        display: none;
    }
    .lead{
        font-size: 1.2rem;
    }
    .news{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
    }
    
    .six{
        display: none;
    }
    .news_text{
        font-size: 12pt;
        padding-left: 15px;
    }
    .news_topic{
        padding-top: 15px;
        padding-left: 15px;
        font-size: 12pt;
    }
    .new{
        padding-left: 10px;
    }
    .news_img{
        height:200px;
        object-fit: fill;
    }
    ::placeholder{
        color: white;
    }
}

@media(max-width:760px){
    .logo{
        height:4em;
    }
    .left{
        font-size: 1em;
    }
    .dropdown{
        padding-right: 10px;
    }
    
}

@media(max-width:920px){
    .background{
        height:50em;
    }
}


@media(max-width:600px){
    .background{
        height:35em;
    }
    .container-fluid{
        padding-left: 0;
    }
    .logo{
        height:3.5em;
        padding-left: 0;
    }
    .left{
        font-size: 0.75em;
    }
    .search{
        margin-top: 15px;
        margin-bottom: 5px;
        height:20%;
        font-size: 0.75em;
    }
    .dropdown>.btn{
        font-size: 0.75em;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 20%;
      }
}
@media (max-width:970px){
    .news_img{
        display:none;
    }
    .news{
        display:flex;
        flex-direction: column;
    }
}
@media (max-width:300px){
    .background{
        height:25em;
    }
}
