
.left{
    display: inline;
    font-size: 30pt;
    font-family: serif;
}
.right{
    float:right;
    padding-right: 50px;
}
.navigation{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 250px;
    padding-top: 20px;
    padding-right: 200px;
    height:70px;
}
.nav-item a{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bolder;
}
li{
    list-style: none;
}
.body img{
    height:700px;
    object-fit: cover;
}
.btn-warning{
    font-weight: bolder;
}
.logo{
    display: inline;
}
.head{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bolder;
}
.search{
    height:40px;
    background-color: transparent;
    color:black;
    border-radius: 5%;
}
::placeholder{
    color: black;
}
.nav-pills{
    padding-top:25px;
}
.background{
    position:relative;
    bottom:190px;
    z-index: -1;
    height:50rem;
    width: 100%;
   
}
.first{
    z-index: 100;
}
.lead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.feature-icon>img{
    height:275px;
    gap:20px;
}
body{
    margin: 0px;
}
.news{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 15px;
    
}
 .one{
    grid-area: 1/1/2/3;
}
.six{
    grid-area: 2/3/3/5;
}
.display-5{
    text-align: center;
}
.news_text{
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}
.news_topic{
    padding-top: 20px;
    padding-left: 20px;
    color:darkblue;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;;
    font-size: 14pt;
    text-align: left;
}
.news_content{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.new{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    padding-left: 40px;
    padding-right: 40px;
}
.footer{
    margin: 0px;
    height:400px;
}
.footer_heading{
    color:darkblue;
}
.info{
    background-color: darkblue;
}
.info h4{
    color: white;
}
.bi{
    fill:white;
    padding-right: 4px;
}
.bottom{
    color: white;
    display: flex;
    justify-content: center;
}
